@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;600;700&display=swap');
*{
    padding : 0;
    margin : 0;
    box-sizing : border-box;
    font-family: 'Poppins', sans-serif;
}
/* Color and styling */
:root{
    --primary-color : #4f46e5;
    --secondary-color : #3b82f6;
    --background-color : #f3f4f6;
    --text-color : #111827;
    --border-color : #e5e7eb;
    --hover-color : #2563eb;
}
a{
    text-decoration : none;
   
}
li{
    list-style-type: none;
}
.section{
    padding: 4rem 0 2rem;
}
.container{
    padding-left: 1.5rem;
    padding-right: 1.5rem;
}
icon{
    font-size: 2em;
    cursor: pointer;
}
.flex{
    display: flex;
    align-items: center;
    
}
.grid{
    display: grid;
    align-items: center;
}
.btn{
    padding: .6rem 1.5rem;
    background: var(--gradientcolor);
    border: none;
    outline: none;
    cursor: pointer;
}
.btn a{
    color: var(--whiteColor);
    font-weight:500;

}
.btn:hover{
    background: var(--secondary-color);
}
imag, video{
    width: 100%;
    height: auto;
}
input{
    font-size: 100%;
}
body{
    background: var(--bodyColor);
}